@import '../../../assets/styles/fonts';
@import '../../../assets/styles/variables';

.input-text-container{
   
    .form-group{

        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    label{
        width: 35%;
        font-size: 16px;
        font-family: MyriadPro;
        font-weight: 400;
        text-align: right;
        margin-right: 15px;
    }
    input{
        border-color: #E5E5E5;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        height: 28px;
        padding-left: 9px;
        font-size: 16px;
        font-family: MyriadPro;

        &:focus{
                outline: none;
        }

        &::-webkit-input-placeholder{
            color: #A5A2A2;
            font-size: 16px;
            font-style: italic;
        }
    }
}

.input-error{
    color: #e60f0f;
    font-family: MyriadPro;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
}