@import '../../../assets/styles/fonts';
@import '../../../assets/styles/variables';

.box {
    -webkit-box-shadow: 0px 6px 20px -5px rgba(196,194,196,1);
    -moz-box-shadow: 0px 6px 20px -5px rgba(196,194,196,1);
    box-shadow: 0px 6px 20px -5px rgba(196,194,196,1);
}

.box-header {
    background: #022040;
    font-family: MyriadPro;    
    border-radius: 5px 5px 0px 0px;
    padding: 10px 15px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.box-body {
    font-family: MyriadPro;
    border-radius: 0px 0px 1px 1px;
    padding: 15px;
    color: #626060;
    font-size: 16px;
}

@media (max-height: $mobile-height) and (max-width: $mobile-width) {

}