@import '../../../assets/styles/fonts';
@import '../../../assets/styles/variables';

.gradient-button {
    background-color: #1F3BA3;
    color: #FFFFFF;
    font-family: MyriadPro;
    font-size: 14px;
    letter-spacing: 0.56px;
    border-radius: 4px;
    background: transparent linear-gradient(90deg, #1F3BA3 0%, #00B4EF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    opacity: 1;
    display: flex;
    justify-content: center;
    height: 29px;
    width: auto;
    min-width: 115px;
    align-items: center;
    cursor: pointer;
    padding: 0;
}